@import '/styles/variables.scss';

.container {
    .box {
        padding: 0 0.5rem;
        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .content {
    
        }
    }
}