@import '/styles/variables.scss';

.container {
    .box {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
        .header {
            display: flex;
            justify-content: space-between;
        }
        .content {
    
        }
    }
}