@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    .row {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        justify-content: space-between;
        .box {
            // width: 33.33%;
            border-radius: 1rem;
            box-shadow: 1px 1px 2px rgb(128, 128, 128);
            padding: 1rem;
        }
    }
}