@import '/styles/variables.scss';

.section {
    display: flex;
    height: 100vh;

    .content {
        position: relative;
        margin-left: 20rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-size: $h2FontSize;
        font-weight: $h1FontWeight;
        .header {
        }
        .table {
            flex: 1;
        }
    }
}