@import '/styles/variables.scss';

.section {
    display: flex;
    height: 100vh;
    margin-left: 20rem;
    .content {
        display: flex;
        
        flex-direction: column;
        width: 100%;
    }
}