@import '/styles/variables.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%; 
    width: 20rem;
    // position: fixed; 
    z-index: 1; 
    : 0; 
    left: 0;
    background-color: #111; 
    color: white;
    overflow-x: hidden; 
    padding-top: 20px;

    .menu {

        ul {
            list-style: none;
            li {
                display: flex;
                flex-direction: column;
                .label {
                    font-weight: $bodyFontWeight;
                    font-size: $bodyFontSize;
                    color: grey;
                }
                a {
                    font-weight: $h5FontWeight;
                    font-size: $h5FontSize;
                    gap: 0.1rem;
                    margin-left: 1rem;
                    font-size: $h5FontWeight !important;
                    color: white;
                    text-decoration: none;
                } 
                a.active {
                    color: $color--primary;
                }
            }  
            li.home {
                a {
                    margin-left: 0;
                    font-weight: $h5FontWeight;
                    font-size: $h5FontSize;
                }
            }
        }
    }
}

