@import '/styles/variables.scss';

.table {
    width: 900px;
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: $h4FontSize;
        font-weight: $h1FontWeight;
    }
}