@import '/styles/variables.scss';

.section {
    display: flex;
    position: relative;

    .left {
    }
    .right {
        margin-left: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: $h2FontSize;
        font-weight: $h1FontWeight;
    }
}