@import '/styles/variables.scss';

.section {
    display: flex;
    position: relative;

    .left {
        position: absolute;
    }
    .right {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}